{% extends 'admin/base.html.twig' %}

{% block title %}{{ is_edit ? 'Modifier' : 'Nouvelle' }} œuvre{% endblock %}
{% block page_title %}{{ is_edit ? 'Modifier l\'œuvre' : 'Nouvelle œuvre' }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_dashboard') }}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{{ path('app_admin_oeuvre_index') }}">Œuvres</a></li>
    <li class="breadcrumb-item active">{{ is_edit ? 'Modifier' : 'Nouvelle' }}</li>
{% endblock %}

{% block page_actions %}
    <a href="{{ path('app_admin_oeuvre_index') }}" class="btn btn-admin-outline">
        <i class="fas fa-arrow-left me-1"></i> Retour
    </a>
{% endblock %}

{% block body %}
    {{ include('admin/oeuvre/_form_section.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin-ajax-forms.js') }}" defer></script>
{% endblock %}
